.ItemList {
  padding: 1em;
  opacity: 0.9;
}
.cards {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  position: relative;
}

.cards::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-top: 10px;
  border-left: 20px;
}

.flip-card {
  position: relative;
  transform-style: preserve-3d;
  perspective: 1000px;
}

.flip-card-front,
.flip-card-back {
  width: 20em;
  min-height: 30em;
  background: linear-gradient(#07051e8a, #c1012e49);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  backdrop-filter: blur(5px);
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  border-radius: 5px;
}

.flip-card-front {
  transform: rotateY(0deg);
}

.flip-card-back {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(180deg);
}

.flip-card-front::after,
.flip-card-back::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.6;
}

.flip-card-front .inner,
.flip-card-back .inner {
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 10em;
  gap: 2px;
}

.flip-card:hover .flip-card-front {
  transform: rotateY(-180deg);
}

.flip-card:hover .flip-card-back {
  transform: rotateY(0deg);
}
