
.navbar {
  margin: auto;
  padding: 0 2em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: space-between;
  background: rgba(75, 54, 94, 0.151);
  box-shadow: 20px 20px 60px #1b203800, -20px -20px 60px #11122210;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);

  }
  
.logo-nav button{
width: 220px;
}

  .navbar ul {
display: flex;
justify-content: flex-end;
align-items: center;
  gap: 2em;
  list-style: none;

  }
  
  .navbar ul li a {
    text-decoration: none;
  }
  
  .navbar ul button {
  width: 120px;
    }

  /*CART*/
.material-icons a,
span {

  padding: 1px;
  text-decoration: none;
}
a {
  text-decoration: none;
  font-size: 20px;
  font-family: 'Rajdhani', sans-serif;
}

.cart {

  text-align: center;
}
.cartNumber {
  display: flex;
  padding: 1em;
  text-decoration: none;
}

