* {
  margin: 0;
  padding: 0;
}

body {
  background: #161632;
}
/*HEADER*/

/*HEADER*/

/*NAV*/
.navbar {
  margin: auto;
  padding: 0.5em 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #2b2f531f;
  box-shadow: 20px 20px 60px #1b203800, -20px -20px 60px #11122210;
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(5px);
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  color: rgba(245, 245, 245, 0.425);
  font-family: "Rubik", sans-serif;
  font-size: 1.2rem;
}

.navbar ul li::before {
  content: "";
  height: 3px;
  width: 0%;
  background: rgba(75, 54, 94, 0.911);
  position: absolute;
  left: 0;
  bottom: -12px;
  transition: 0.4s ease-out;
}

.navbar ul li:hover::before {
  width: 100%;
}

/*CART*/
.material-icons {
  color: rgba(245, 245, 245, 0.425);
  padding: 1em;
}

.AddToCart {
  width: 30em;
  display: flex;
  background: rgba(75, 54, 94, 0.623);
  margin: 2em;
  border-radius: 20px;
}

.AddToCart button {
  margin: 2em;
  width: 4em;
  height: 4em;
  background: rgba(245, 245, 245, 0.425);
  border: none;
  border-radius: 1em;
}

/*NAV*/

/*MAIN*/
main {
  background-image: linear-gradient(
      rgba(5, 5, 10, 0.8),
      rgba(75, 54, 94, 0.911)
    ),
    url(https://cutewallpaper.org/21/background-gif-html/15-CSS-Animated-Backgrounds-Pintire.gif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 90vh;
  max-height: 120vh;
}
main img {
  width: 15em;
  height: 20em;
}

main button {
  width: 4em;
  height: 2em;
  background: rgba(245, 245, 245, 0.425);
  border: none;
  border-radius: 1em;
}

.ItemList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4em;
}

.ItemList,
p,
h1,
h5 {
  padding: 1em;
}

.ItemDetail {
  width: 50%;
  margin: auto;
  text-align: center;
}
.ItemDetail button {
  width: 4em;
  height: 4em;
  background: rgba(245, 245, 245, 0.425);
  border: none;
  border-radius: 1em;
}
/*MAIN*/
